.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid 1px black;
  margin-top: 100px;
  background-color: #f0f0f0;
  overflow: hidden;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(48, 237, 180);
  border-radius: 10px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(44, 83, 35);
  border: 1px solid white;
  border-radius: 5px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(183, 121, 49);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.power-up {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#score {
  position: relative;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
}
